h1 Detail of people who are willing to donate
h3 These are the people who are willing to donate please contact them through email id provided.
ul
each user in users
 li Name: #{user.name}: Bloodgrp:  #{user.bloodgrp}:   Email:  #{user.email}